.margin{width:1000px;margin:0 auto;}
#header{
    height:100px;
    .header-l{
        float:left;width:125px;height:100px;background:url(//member-ssl.vipstatic.com/img/passport/sprites-hash-6954197b.png?5a6693d5);
        background-position: -308px -57px;
    }
    .header-r{
        float:right;width:304px;height:100px;background:url(//member-ssl.vipstatic.com/img/passport/sprites-hash-6954197b.png?5a6693d5);
    }
}
#banner{   text-align:center;height:650px;background:url(https://a.vpimg2.com/upload/flow/2019/01/29/88/15487540172274.jpg);
    .dl{float:right;width:360px;background:#fff;margin:50px 20px 0 0;
        input{display:block;margin:26px 30px; width:248px;height:32px;border:1px solid #eee;padding:6px 10px 6px 40px;}
        .dl-t{font:700 18px/50px "";
            height:50px;border-bottom:1px solid #ccc;
        }
        .btn{
           padding:0;width:300px;height:46px;background:#f10180;border-radius:3px;color:#fff;

        }
        span{display:block;color:#000;text-align:center;}
    }
}